.jumbotron {
    background-image: url('../images/bullet-train.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

h1 {
    font-size: 3.5rem;
    text-shadow: 1px 1px #ff0000, -1px 1px #ff0000, 1px -1px #ff0000, -1px -1px #ff0000;
}